# Виртуальные окружения
myenv/
.venv/
env/
venv/

# Файлы конфигурации и данных
database.ini
*.json

# Логи
*.log

# Пакеты
*.egg
*.egg-info/
dist/
build/
develop-eggs/
eggs/
.eggs/

# Автоматические файлы
*.pyc
__pycache__/
*.pyo

# Папка проекта
.idea/
.vscode/

# Другие игнорируемые файлы
*.bak
*.tmp
